
.movies {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 10% 80%;
    justify-content: center;
    row-gap: 20px;
}

.movies h2 {
    grid-row: 1;
    grid-column: 2; 
    font-family: Amaranth; 
}

.movies select {
    grid-column: 2;
    grid-row: 2;
}

.movies .movieInfo {
    grid-row: 3;
    grid-column: span 3;
}

.movieInfo h3 {
    font-size: 30px;
}
.movies .movieInfo span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

