
.movies {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 10% auto;
    justify-content: center; 
    margin-top: 4rem;
    color: #043d5a;
}

.movies h2 {
    grid-row: 1;
    grid-column: 2; 
    font-family: Amaranth; 
}

.movies select {
    grid-column: 2;
    grid-row: 2;
    height: 50%;
}

.movies .movieInfo {
    grid-row: 3;
    grid-column: span 3;
}

.movieInfo {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    background-color: #517e94a6;
    border: 2px solid #517e94;
    border-radius: 5px;
    color: #043d5a;
    width: 80%;
}

.movieInfo img {
    height:250px;
    grid-column: 1;
    grid-row: 1/4;
    justify-self: right;
    padding-right: 20px;
}
.movieInfo h3 {
    grid-column: 2;
    font-size: 30px;
    margin: 0;
    height: fit-content;
    
}

.movies .movieInfo span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

