.character{

    text-align: center;
}

.age{
    text-align: center;
}

.eyes{
    text-align: center;
}

.hair{
    text-align: center;
}


form{
    text-align: center;
}

.output{
    text-align: center;
}