.person__info {
  margin: 30px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.people__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
