/* .app {
  height: 100vh;
}

.nav {
  border: 2px solid purple;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.nav a {
  padding: 0 1.5em;
  color: #000000;
}

.home {
  margin-top: 2em;
  border: 2px solid purple;
  height: 80%;
  text-align: center;
}

.movies {
  text-align: center;
}

.people {
  text-align: center;
} */
