* {
  text-align: center;
  margin: auto;
  font-family: 'Ghibli', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  background: #00acef;
  padding: 1em;
}

nav a {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

nav a:hover {
  color: #eb7786;
}

nav img {
  height: 50px;
  width: 50px;
}

main {
  margin-top: 1em;
  text-align: center;
}

section,
h2 {
  margin-top: 1em;
  width: 90%;
  margin: auto;
  text-align: center;
}

li {
  font-size: 1em;
}

.locations {
  background: #8282f145;
  padding: 1em;
  min-height: 100vh;
}

.locations > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0;
}

.locations ul > li {
  background: rgb(223, 188, 242);
  width: 25%;
  padding: 2em;
  margin-bottom: 30px;
  list-style: none;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.336);
}

.locations ul > li > ul {
  margin-left: 0;
  list-style: none;
}

.locations ul > li > ul li {
  background: ghostwhite;
  display: flex;
  flex-wrap: no-wrap;
  width: 75%;
  justify-content: center;
  padding: 30px;
  margin: 20px;
  margin-left: -10px;
  border-radius: 20px;
  border: 3px rgb(198, 157, 198) dashed;
}


.locations ul > li > ul li span {
  text-align: center;
  display: inline-block;
  width: 100%;

}

.locations strong {
  padding-right: 10px;
  margin: 0;
}

.locations button {
  margin: 5px;
  margin-bottom: 20px;
}

.details li {
  list-style: none;
  margin: 0.5em 0;
  align-self: center;
}

.details li span:first-child {
  font-weight: bold;
}

.people {
  background: lemonchiffon;
  height: 100vh;
  padding-top: 1em;
}

.people aside {
  background: rgba(248, 248, 255, 0.522);
  width: 50%;
  max-height: 100%;
  margin: auto;
  margin-top: 20px ;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.336)
}

.people aside h3 {
  padding-top: 1em;
}

.people span,
.movies span {
  font-weight: bold;
}

.movies {
  padding-top: 1em;
  height: 100vh;
  background: #d7f0f2;
}

.movies aside {
  background: rgba(240, 248, 255, 0.522);
  width: 50%;
  max-height: 100%;
  margin: auto;
  margin-top: 1em;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.336)
}

ul li::marker {
  font-size: 150%;
  color: #517e94;
  opacity: 0;
}

.gif {
  height: 500px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.591);
}

h1 {
  color: #00acef;
  margin: 10px;
}

h2 {
  padding: 10px;
}

.home {
  background-color: #ff9daa45;
  padding: 1em;
  height: 100vh;
}

p {
  padding: 15px;
}

.pplForm {
  margin: 10px;
}

button {
  all: unset;
  background-color: #00acef;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color:#00acef;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.546);
}

input {
  all: unset;
  background-color: #ffffff;
  padding: 7px;
  margin-right: 5px;
  border-radius: 20px;
  text-align: left;
  border: solid;
  border-color: #00acef;
}

input:hover {
  cursor: text;
}