
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Roboto:ital,wght@1,100&family=Tangerine:wght@700&display=swap');

.welcome{
  font-family:'Tangerine', cursive;
  font-size: 5em;
  color: red;
  font-style: italic;
  text-align: center;
  font-weight: bolder;
  text-shadow: 1px 1px 4px black
}

.welcomePicsBox{
  display:grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  width:100vw;
  height: 100vw;

}
  .welcomePic1 {
    margin-top: 7em;
    grid-column: 1;
    height: 13em;
    width: 19.3em;
    background-image: url('../assets/fancyMovieBox2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: tilt .9s infinite
 
  }

  .welcomePic2 {
    margin-top: 3em;
    grid-column: 2;
    height: 30em;
    width: 30em;
    background-image: url('../assets/movieCamera.png');
    background-repeat:no-repeat;
    background-size: cover;
    border: 4px solid black;
  }

  .welcomePic3 {
    grid-column: 3;
    margin-top: 3em;
    margin-left: 11em;
    height: 17em;
    width: 15.3em;
    background-image: url('../assets/movieActionBox.jpeg');
    background-position: no repeat;
    background-size: cover;
    animation: tilt .9s infinite
  }
    
  @keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }


nav {
  display: flex;
  justify-content: space-around;
  /* background: #517e94; */
  background: goldenrod;
  padding: 1em;
  margin-bottom: 2em;
  font-family: sans-serif;
  border: 3px solid darkgreen;
}

nav a {
  text-decoration: none;
  font-size: 2em;
  /* color: white; */
  color: black;
}

nav img {
  height: 50px;
}
.wonderWoman{
  height: 6em;
  width: 6em;
}
.homePage:hover, .moviesPage:hover, .peoplePage:hover, .locationsPage:hover {
  color: crimson;
  font-weight: bold;
}

main {
  margin-top: 1em;
  text-align: center;
}

section,
h2 {
  margin-top: 1em;
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

li {
  font-size: 1em;
}

.locations {
  background: ghostwhite;
  padding: 1em;
  min-height: 80vh;
}

.locations > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0;
}

.locations ul > li {
  background: lemonchiffon;
  width: 26%;
  padding: 2em;
}

.locations ul > li > ul {
  margin-left: 0;
  list-style: none;
}

.locations ul > li > ul li {
  background: ghostwhite;
  display: flex;
  flex-wrap: no-wrap;
  width: 90%;
  justify-content: center;
}

.locations ul > li > ul li span {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.details li {
  list-style: none;
  margin: 0.5em 0;
  align-self: center;
}

.details li span:first-child {
  font-weight: bold;
}

.people {
  background: lemonchiffon;
  height: 80vh;
  padding-top: 1em;
}

.people aside {
  background: ghostwhite;
  width: 80%;
  min-height: 50%;
  margin: auto;
}

.people aside h3 {
  padding-top: 1em;
}

.people span,
.movies span {
  font-weight: bold;
}

.peopleInputField{
  margin-left:45.5em;
  width: 25em;
}

.peopleInputBox{
  margin-left: 38em;
}

/* .people{
margin: 0 auto;
background-image: url("../assets/twoPeopleWithPopCorn.png");
background-repeat: no-repeat;
background-size: contain;
height: 35vh;
width: 69vw;
} */

.nameSortBtn,
.climateSortBtn,
.terrainSortBrn{
  margin: 1em 1em 1em 1em;
}
.nameSortBtn{
  margin-left:38em;
}
.movies {
  padding-top: 1em;
  height: 80vh;
  background: #d7f0f2;
}

.movies aside {
  background: aliceblue;
  width: 90%;
  margin: auto;
  padding: 1em;
}

ul li::marker {
  font-size: 150%;
  color: #517e94;
  opacity: 0;
}
select{
  width: 17vw;
   margin-left: 40.5vw;
   /* display:flex;
   align-items: center; */
}

.movies{
  margin: 0 auto;
  border: 5px dotted rgb(235, 102, 13);
  background-color: navy;
}
.movieListTitle{
  color:gold
}
  .movieBox{
    margin: 0 auto;
    background-image: url("../assets/fancyMovieBox1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 69vw;
  }

.movieInfo{
  background-size:auto;
  background-color: rgba(244, 217, 150, 0.8);
  border: 10px dotted blue ;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 35vh;
  width: fit-content;

  padding-top:5vh ;
}
.movieTitle, .releaseDate{
  text-align: center ;
  display:inline;
  margin-right: 1em;
}

.movieTitle, .movieText{
  top: 50px;
}

.titleText{
  font-size: 1.5em;
  font-weight:lighter;
  

}
.movieDescription{
padding: 1em 1em 1em 1em;
line-height: 1.3em;
border: 2px solid rgb(255, 145, 0);
background-color:rgba(255, 235, 205, .8);
}

.moviePicBox{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
   z-index: 1000;
}

.moviePic1{
  grid-column: 1;
  width: 14em;
  height: 11em;
  margin-left: 0;
  background-image: url("./../assets/cuteRedPopCorn.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid yellow;
}

.moviePic2{
  grid-column: 5;
  width: 15em;
  height: 10em;
  border: 2px solid yellow;
  margin-left: 10em;
background-image: url("./../assets/cuteStripedPopcorn.png");
background-repeat: no-repeat;
background-size: cover;
}

.movieListTitle, .movieListTitle{
  z-index: 1;
}

li{
  list-style:none;
}
.name, .climate, .terrain{
  background-color: white;
  height: 10vh;
  text-align: center;
}


.locationsHdg{
  /* margin: 0 auto; */
  margin-left: 18.2em;
}

.showHideBtn{
  height: 2em;
  margin-left: 50em;

}

.locationBox {
  text-align: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}

.localeSpan{
  margin-left: 4em;
}