@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Comic Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background: #517e94;
  padding: 1em;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

nav a:hover{
  color: black;
  transform: scale(1.1);
}

nav img {
  height: 50px;
  width: 50px;
}

h1 {
  margin-top: 1em;
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
}

.locations {
  background: ghostwhite;
  padding-top: 1em;
  min-height: 80vh;
  height: auto;
  padding-bottom: 20px;
}

.locations .buttons {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding-bottom: 20px;
}

.locations .buttons button:hover {
  color: #517e94;
}

.locations-ul, .location{
  list-style: none;
}

.locations-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.locations-ul .locations-li{
  border: 1px solid #517e94;
  border-radius: 10px;
  background-color: lemonchiffon;
  padding: 5px;
  width: 21.6vw;
}

.locations-ul .locations-li span{
  font-weight: bold;
}

.people {
  background: lemonchiffon;
  height: 80vh;
  padding-top: 1em;
}

form {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.people .person {
  background: ghostwhite;
  width: 40%;
  padding: 1px;
  margin: auto;
  text-align: center;
}

.people span,
.movies span {
  font-weight: bold;
}

.movies {
  padding-top: 1em;
  height: 80vh;
  background: #d7f0f2;
}

.movies select {
  display: block;
  margin: auto;
  text-align: center;
}

.movies .selected-movie {
  background: aliceblue;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px solid #517e94;
  border-radius: 10px;
}
